
    .pages {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;

        a {
            text-decoration: none;
            color: black;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: .2em;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 20px;
            padding-right: 20px;
        }

    
    }



.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    // position: absolute;
    left: 0px;
    top: 0px;
    background-color: #10634EE6;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
      
    }}

    @media (min-width: 300px) and (max-width: 576px) {
  .header {
    flex-direction: column; /* Logonu və menyunu alt-alta düz */
    height: auto; /* Dinamik hündürlük */
    padding: 10px 0;
    
    .logo {
      width: 100%; /* Tam eni tut */
      margin-bottom: 10px; /* Logo ilə menyu arasında məsafə */
    }
  }

  .pages {
    flex-direction: column; /* Linkləri alt-alta düz */
    width: 100%; /* Tam eni tut */
    
    a {
      padding: 10px 0; 
      font-size: 12px; 
    }
  }
}
