.container{
    display: flex;
    align-items: center;
    justify-content: center;
background-image: url('https://mobirise.com/extensions/floram4/floral-studio/assets/images/sl7.jpg');
background-size: cover;
width: 100%;
height: 100dvh;

.txt{
    display: flex;
    align-items: center;
    flex-direction: column;
    h1{
        font-size: 50px;
    }
    p{
        font-size: 20px;

    }
}
@media only screen and (min-width: 300px) and (max-width: 576px) {
    .container {
        flex-direction: column;
        background-position: center;
        background-size: cover;
    }

    .txt h1 {
        font-size: 32px;
        text-align: center;
    }

    .txt p {
        font-size: 16px;
        text-align: center;
    }
}


}


