.container{
    display: flex;
    align-items: center;
    justify-content: center;
background-image: url('https://mobirise.com/extensions/floram4/floral-studio/assets/images/sl7.jpg');
background-size: cover;
width: 100%;
height: 100vh;

.txt{
    display: flex;
    align-items: center;
    flex-direction: column;
    h1{
        font-size: 50px;
    }
    p{
        font-size: 20px;

    }
}


}


