* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .enesas {
    background-image: url(https://mobirise.com/extensions/floram4/floral-studio/assets/images/sl1-967x725.jpg);
    background-size: cover;
    width: 100%;
    height: 690px;
    background-position: center; 
  }

  .yazibox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    gap: 30px;
    p {
    font-size: 20px;
    color: #1B745E;
    }
    h2 {
        color: #1B745E;
        font-size: 30px;
        letter-spacing: 5px;
    }
  


}
@media (min-width: 300px) and (max-width: 576px) {
  .enesas {
    height: 400px; /* Mobil üçün daha az hündürlük */
    background-position: top; /* Mərkəzdən yuxarıya düzəltmək olar */
  }

  .yazibox {
    height: auto; 
    padding: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .yazibox h2 {
    font-size: 22px; 
    letter-spacing: 2px;
    text-align: center;
  }

  .yazibox p {
    font-size: 16px; 
    text-align: center;
  }
}


